Hit_rate_state_machine.yml
{
  "Comment": "Serverless to do hit rate analysis",
  "StartAt": "InvokeLambdafunction",
  "States": {
    "InvokeLambdafunction": {
  "Type": "Task",
  "Resource": "arn:aws:lambda:us-east-1:289314106203:function:hit_rate_split:$LATEST",
  "Parameters": {    
        "source_bucket": "hitratetestdata",
        "target_bucket": "hitrateprocessed",
        "split_size": 3
      },
      "Next": "CheckStatusFromLambda"
    },  
   "CheckStatusFromLambda": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.statusCode",
          "NumericEquals": 200,           
          "Next": "SuccessState"
        },
        {
          "Variable": "$.statusCode",
          "NumericEquals": 400,           
          "Next": "FailedState"
        }
      ]
    },
    "SuccessState": {
      "Type": "Pass",
      "End": true
    },
    "FailedState": {
      "Type": "Fail"
    }
  }
}
